:root {
    --countdown-bar-height: 4vh;
}

div.countdown {
    font-family: var(--font-common);
    color: var(--p4-color);
    background-color: var(--p2-color);
    opacity: .9;
    min-height: var(--countdown-bar-height);
    font-size: .9em;
}

div.countdown div.container,
div.countdown div.container div.row {
    min-height: var(--countdown-bar-height);
}
