:root {
    --countdown-bar-height: 4vh;
}

div.countdown {
    font-family: var(--font-common);
    color: var(--bg-color);
    background-color: var(--light-color);
    opacity: .9;
    min-height: var(--countdown-bar-height);
}

div.countdown div.container,
div.countdown div.container div.row {
    min-height: var(--countdown-bar-height);
}
