#accommodation {
    min-height: var(--section-height);
}

@media only screen and (min-width: 768px) {
    #accommodation {
        background-image: url("./accommodation.png");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 30%;
    }
}

#accommodation .info-icon {
    color: var(--s1-color);
}

.accommodation-card h5 {
    color: var(--s1-color);
}

#accommodation a {
    color: var(--s1-color);
    text-underline-offset: 2px;
}

#accommodation a:hover {
    opacity: .8;
}
