:root {
    --section-height: calc(101vh - var(--menu-height));
}

.section {
    font-family: var(--font-common);
    /*min-height: var(--section-height);*/
    background-color: var(--bg-color);
    color: var(--light-color);
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-position: right;*/
    /*background-size: contain;*/
}
