nav.bg-light {
    background-color: var(--p4-color) !important;
}

nav {
    height: var(--menu-height);
}

div.navbar-collapse span.scroller-link {
    background-color: var(--p4-color);
}

/*#region NAVBAR BRAND*/
.navbar-brand img.logo {
    /*width: 100px;*/
    height: 40px;
    border-radius: 35%;
}
a.navbar-brand {
    font-family: var(--font-ornate);
    font-size: 30px;
    color: var(--p1-color);
}
span:has(a.navbar-brand:not(.active-main)) {
    transition: transform 0.5s linear;
}
span:has(a.navbar-brand.active-main) {
    transform: scale(1.1);
    transition: transform 0.5s linear;
}
/*#endregion*/

div.navbar-nav {
    font-family: var(--font-menu);
    letter-spacing: 1px;
    font-size: 1.1em;
}

div.navbar-nav.me-auto a.nav-link:hover,
div.navbar-nav a.nav-link.active-link  {
    color: var(--s1-color) !important;
    /*text-decoration-line: underline;*/
    /*text-underline-offset: 7px;*/
}

div.navbar-nav a.nav-link
{
    color: var(--p1-color) !important;
}

div.navbar-nav a.nav-link.rsvp {
    background-color: var(--p4-color);
}

button.navbar-toggler.collapsed .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(59,59,59, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    transform: rotate(0deg);
    transition: transform 0.3s linear;
}
button.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(59,59,59, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    transform: rotate(90deg);
    transition: transform 0.3s linear;
}

button.navbar-toggler {
    color: var(--p1-color);
    border: none;
    box-shadow: none !important;
}
