#main {
    /*text-align: left;*/
    min-height: var(--section-height);

    background-image: url("./main.png");
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: 80%;
    background-size: contain;
}

@media only screen and (max-width: 768px) {
    #main {
        /*background-position: right;*/
        background-size: cover;
    }
}

#main .title {
    color: var(--s1-color);
    font-family: var(--font-ornate);
}

#main small {
    font-size: 1.2em;
    opacity: .7;
}

a:has(span.hover-button) {
    text-decoration: none;
    color: var(--p1-color);
}
a:has(span.hover-button):hover {
    box-shadow: 0 0 1px 1px var(--s1-color);
}
