#main {
    font-family: var(--font-ornate);
    text-align: left;
    min-height: var(--section-height);

    background-image: url("./main.png");
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: 80%;
    background-size: contain;
}

@media only screen and (max-width: 768px) {
    #main {
        /*background-position: right;*/
        background-size: cover;
    }
}

#main h1.display-1 {
    color: var(--dark-color);
}

#main h1.display-1, #main h2 {
    font-family: var(--font-ornate);
}

#main a {
    color: var(--light-color);
}

#main small {
    font-size: 1.5em;
    opacity: .7;
}

#main small.details {
    font-size: .8em;
    font-family: var(--font-common);
    /*font-style: italic;*/
}
