#main {
    /*background-image: url("./main_landscape.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-size: 100%;*/
    /*background-position: left center;*/
    /*opacity: 0.4;*/
}

#main h1 {
    font-family: var(--font-ornate);
    color: var(--dark-brown);
    transition: all .5s linear;
}
#main h1:hover {
    transform: scale(1.1);
}
