#main {
    font-family: var(--font-ornate);
    font-size: 26px;
    /*background-image: url("./main_landscape.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-size: 100%;*/
    /*background-position: left center;*/
    /*opacity: 0.4;*/
}

#main h1.display-1 {
    color: var(--dark-brown);
}

#main h1.display-1, #main h2 {
    font-family: var(--font-ornate);
    transition: all .5s linear;
}
#main h1.display-1:hover, #main h2:hover {
    transform: scale(1.1);
}

#main a {
    color: var(--light-brown);
}

#main small {
    font-size: .7em;
    opacity: .7;
}

/*#region RSVP button*/
#main span.rsvp {
    box-shadow: 1px 1px 1px 1px var(--dark-brown);
}
#main span.rsvp:hover {
    background-color: var(--bg-color-menu)
}
#main span.rsvp a {
    font-size: .9em;
    font-family: var(--font-common);
}
/*#endregion*/
