#invitation {
    background-color: var(--p1-color);
}

.carousel-indicators li {
    padding: 0.2em;
    /*background-color: var(--p1-color);*/
    background-color: #9d985d;
    /*width: 2em;*/
    margin-left: 0.3em;
    margin-right: 0.3em;
    border-radius: 1px;
    opacity: .5;
}

.carousel-indicators li.active {
    opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    /*filter: none !important;*/
    /*background-color: red !important;*/
}
