span.button {
    border: 1px solid var(--s1-color);
    letter-spacing: 2px;
    cursor: pointer;
    display: inline-block;
}

span.button a {
    color: var(--s1-color);
    text-decoration: none;
}

span.button:not(.dark):hover {
    box-shadow: 0 0 1px 0 var(--s1-color);
    background-color: var(--p4-color);
}

span.button.dark:hover {
    box-shadow: 0 0 2px 0 var(--s1-color);
}
