span.rsvp {
    background-color: var(--p4-color);
    opacity: .8;
}

span.rsvp a {
    font-size: 1em;
    font-family: 'Cinzel', serif;
    letter-spacing: 2px;
    color: var(--p2-color);
    font-weight: bold;
}
