#schedule {
    /*background-image: url("./viki.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: right;*/
    /*background-size: contain;*/
    background: linear-gradient(200deg, var(--bg-color) 0%, var(--third-color) 50%, var(--bg-color) 100%);
    box-shadow: 0 0 20px 20px var(--third-color) inset;
}

.vertical-timeline {
    text-align: left;
}
