#schedule {
    background: linear-gradient(200deg, var(--p4-color) 0%, var(--p3-color) 50%, var(--p4-color) 100%);
    box-shadow: 0 0 20px 20px var(--p3-color) inset;
}

.vertical-timeline {
    text-align: left;
}
