.vertical-timeline .vertical-timeline-element-content {
    /*-webkit-box-shadow: 0 3px 0 var(--p1-color);*/
    /*box-shadow: 0 3px 0 var(--p1-color);*/
    /*box-shadow: none;*/
    box-shadow: 1px 1px 1px 1px var(--p1-color);
    /*border: 1px solid var(--p1-color);*/
}

.vertical-timeline-element .vertical-timeline-element-date.time {
    color: var(--p1-color);
    padding-top: .5em;
    padding-bottom: 0;
    font-weight: bold;
}
#schedule h4 {
    color: var(--p1-color);
}
/*@media only screen and (min-width: 1170px) {*/
/*    .vertical-timeline-element .vertical-timeline-element-date.time {*/
/*        font-weight: bold;*/
/*        color: var(--p1-color);*/
/*    }*/
/*}*/

.vertical-timeline-element .vertical-timeline-element-icon.icon {
    /*-webkit-box-shadow: 0 0 0 4px var(--p1-color), inset 0 2px 0 rgb(0 0 0 / 8%), 0 3px 0 4px rgb(0 0 0 / 5%);*/
    /*box-shadow: 0 0 0 4px var(--p1-color), inset 0 2px 0 rgb(0 0 0 / 8%), 0 3px 0 4px rgb(0 0 0 / 5%);*/
    box-shadow: 1px 1px 1px 1px var(--p1-color);
}
