:root {
    --p1-color: #3b3b3b;
    --p2-color: #706d6d;
    --p3-color: #d3d3d3;
    --p4-color: #f8f8f8;
    --p5-color: white;
    --s1-color: #dcab2b;

    --menu-height: 59px;

    --font-ornate: 'Mistrully', serif;
    --font-common: 'Cinzel', serif;
    --font-menu: var(--font-common);
}

body {
  /*overflow: hidden;*/
  /*user-select: none;*/
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--p1-color);
}

@media only screen and (min-width: 768px) {
  .w-md-50 {
    width: 50% !important;
  }
}
