:root {
  /*--dark-color: #86530e;*/
  /*--light-color: #bd8332;*/
  /*--bg-color: beige;*/

  --dark-color: #3b3b3b;
  --light-color: #706d6d;
  /*--bg-color: red;*/
  --bg-color: #f8f8f8;

  /*--dark-color: #9d985d;*/
  /*--light-color: #bcb45d;*/
  /*--bg-color: #f2eec1;*/

  --menu-height: 59px;

  --font-ornate: 'Amatic SC', cursive;
  /*--font-common: 'Quicksand', sans-serif;*/
  --font-common: 'Cinzel', serif;
  --font-menu: var(--font-ornate);
}

body {
  /*overflow: hidden;*/
  /*user-select: none;*/
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*#region BUTTON*/
span.button {
  cursor: pointer;
  display: inline-block;
}
span.button:not(.hover-button):hover {
  box-shadow: 1px 1px 1px 1px var(--dark-color);
}
span.button:not(.hover-button), span.button.hover-button:hover {
  box-shadow: 1px 1px 1px 1px var(--light-color);
}
span.button a {
  text-decoration: none;
}
/*#endregion*/
