nav.bg-light {
    background-color: var(--bg-color-menu) !important;
}

nav {
    height: var(--menu-height);
}

div.navbar-collapse span.scroller-link {
    background-color: var(--bg-color-menu);
}

span:has(a.navbar-brand) {
    rotate: -10deg;
}

a.navbar-brand {
    font-family: var(--font-ornate);
    font-size: 30px;
    color: var(--dark-brown);
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px var(--dark-brown);
    border: 1px solid var(--light-brown);
    background-color: var(--bg-color-section);
}
a.navbar-brand:hover {
    color: var(--dark-brown);
    box-shadow: 0 0 1px 1px var(--dark-brown) inset, 0 0 2px 2px var(--light-brown) inset;
}

div.navbar-nav {
    font-family: var(--font-menu);
    letter-spacing: 2px;
    font-size: 1.3em;
}

div.navbar-nav.me-auto a.nav-link:hover {
    color: var(--dark-brown);
    text-decoration-line: underline;
    text-underline-offset: 7px;
}
.navbar-nav .nav-link.active  {
    color: var(--dark-brown);
    text-decoration-line: underline;
    text-underline-offset: 7px;
}

span:has(a.navbar-brand:not(.active-main)) {
    transition: transform 0.5s linear;
}
span:has(a.navbar-brand.active-main) {
    transform: scale(1.1);
    transition: transform 0.5s linear;
}

div.navbar-nav a.nav-link {
    color: var(--light-brown);
}

button.navbar-toggler.collapsed .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(151,92,20, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    transform: rotate(0deg);
    transition: transform 0.3s linear;
}
button.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(151,92,20, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    transform: rotate(90deg);
    transition: transform 0.3s linear;
}

button.navbar-toggler {
    color: var(--dark-brown);
    border: none;
    box-shadow: none !important;
}
