:root {
    --section-height: calc(101vh - var(--menu-height));
}

.section {
    font-family: var(--font-common);
    min-height: var(--section-height);
    background-color: var(--bg-color-section);
    color: var(--light-brown);
}
